<!DOCTYPE html>
<html>
  <head>
    <title>All Sales Vinyl</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container" style="height: 100%">
    <div class="row">
    <img src="https://www.stickpng.com/assets/images/5856b3da4f6ae202fedf2794.png" class="logo">
      <h1 class="company-header">All Sales Vinyl</h1>
    </div>
          <%= yield %>
    </div>
  </body>
</html>